div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
.box1{
    position: static;
}
.box2{
    position: relative;
    /* left: 20px; */
    /* z-index: 80px; */
    z-index: 5;
}
.box3{
    position: fixed;
    z-index: 1px;
    

}
.box4{
    position: sticky;
   
}
body{z-index: -5px;
    font-size: 40px;
}